<app-menu (toggleSidebar)="toggleSidebar()" 
          (updateSortType)="updateSortType($event)"
          (updateSearchText)="updateSearchText($event)"
>
</app-menu>

<app-header
  (updateFileTypes)="updateFileTypes($event)"
></app-header>

<div class="ui active inverted dimmer" *ngIf="loading">
    <div class="ui loader"></div>
</div> 

<div class="ui bottom  segment pushable">
  <!--Sidebar-->
  <app-sidebar [directories]=directories  (onAddFiles)="onAddFiles($event)" ></app-sidebar>
  <!--Sidebar ends-->
  <div class="pusher">
    <div class="ui container">
      <div class="ui link cards cards-list">
        <!--Files list-->
        <app-file class="card file-card" 
          [file]=file 
          *ngFor="let file of (files | filter: searchText | fileType: selectedFileTypes | sort : sortType)" 
          (click)="openFile(file.fullName)"
        ></app-file>
        <!--Files List-->
      </div>
    </div>
  </div>
</div>

<!--Add directory Button-->
<div class="bottom-right">
  <div class="add-directory">
    <label for="file-upload" class="fab-label" data-tooltip="Add a folder" data-position="left center">
        <i class="add icon"></i>
    </label>
    <input type="file"  id="file-upload" #folderInput  webkitdirectory (change)="fileChange($event)"/>
  </div>
  <div class="ui active inverted dimmer" *ngIf="loading">
      <div class="ui text loader">Loading</div>
  </div>
</div>